apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: main-pool
spec:
  blocks:
    - cidr: 192.168.0.240/28   # new
  allowFirstLastIPs: "No"  # Required in Cilium 1.16+ if reserving first/last IPs 
