apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  targetNamespace: cert-manager
  install:
    createNamespace: true
    crds: Create
  upgrade:
    crds: Create
  interval: 10m
  chart:
    spec:
      chart: cert-manager
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
      version: "v1.19.1"
  values:
    crds:
      # This option decides if the CRDs should be installed
      # as part of the Helm installation.
      enabled: true
      keep: true
